body{
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0;
  min-height: 10vh;
  overflow-x: hidden;
}
body::-webkit-scrollbar{
  width: 8px;
  height: 10px; 
}
body::-webkit-scrollbar-track {
  background: #110544;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background: rgb(116, 8, 162);
  border-radius: 10px;
  border: 2px solid #1e1e1e; 
}
body::-webkit-scrollbar-thumb:hover {
  background: #580571;
}
.floating-lines-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 92%;
  z-index: -1;
  overflow: hidden;
}
#check_btn{
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  background: linear-gradient(45deg,rgb(98, 0, 168),rgb(87, 87, 255),rgb(2, 206, 220),rgb(250, 250, 250));
  color: rgb(0, 0, 0);
  font-weight: 740;
  transition: all 0.2s linear;
  cursor: pointer;
}
#check_btn:hover{
  scale: 1.08;
}
.deepfake-analyzer-container{
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  min-width: 26%;
  max-width: fit-content;
  max-height: fit-content;
  min-height: 30%;
  background: rgba(0, 0, 0, 0.6); 
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 30px;
  transition: all 0.4s linear ;
}
.box{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  background-color: transparent;
}
.scrollable-section {
    width: 100%;
    min-height: 100vh;
    padding: 10px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1; 
    position: relative;
}
.section-results {
  font-family:monospace;
  background-color: #181818;
}
.section-docs-credits {
  font-family:cursive;
  background-color: #0f0e0e; 
}
.hero{
  color: rgb(254, 254, 254);
  max-width: fit-content;
  max-height: fit-content;
  word-break:normal;
  width: 45%;
  border:none;
  border-radius: 30px;
  padding: 20px 30px ;
  background-color: hsla(0, 0%, 4%, 0.578);
  backdrop-filter: blur(12px);
  font-family:sans-serif;
  
}
.second-hero, .third-hero{
  
  background-color: #1d1d1d;
  width: 100%;
  max-height: fit-content;
  margin: 0;
  text-shadow: 7px 8px 30px rgb(24, 236, 255);
}
.result-box {
    color: rgb(255, 255, 255);
    word-break: normal;
    width: 24%;
    height: fit-content;
    border: none;
    border-radius: 15px;
    padding: 10px 30px;
    background:linear-gradient(60deg ,rgb(0, 0, 0) ,rgba(239, 235, 235, 0.53));
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 8px 10px 25px rgba(0, 0, 0, 0.741) ,inset 3px 4px 8px rgba(233, 233, 233, 0.56);
    gap: 10px;
    transition: all 0.4s linear ;
}
.result-box:hover,.deepfake-analyzer-container:hover{
  scale: 1.04;
}
.light{
  height: 8px;
  width: 98%;
  background-color: rgb(176, 255, 250); 
  border: none;
  border-radius: 12px;
  box-shadow: 0px 10px 30px rgb(66, 233, 255);
}
@media(max-width:800px){
  .deepfake-analyzer-container{
    min-width: 80%;
    max-width: 90%;
    max-height: fit-content;
    width: auto;
    scale: 0.91;
  }
  .result-box{
    min-width: 80%;
    max-width: 90%;
    max-height: 90%;
    width: auto;
    padding: 10px 10px;
    gap: 4px;
    scale: 0.91;
    translate: 0 35px;
  }
  .result-box:hover,.deepfake-analyzer-container:hover{
    scale: 0.94;
  }
  .box{
    flex-direction:column;
  }
  .box .hero{
    width: 85%;
    height: auto;
    padding:10px 15px;
    margin: 0 2px;
  }
  .hero{
    font-size: small;
    max-height: 90%;
    word-break: normal;
    word-wrap:keep-all;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .hero::-webkit-scrollbar{
    width: 5px;
    height: 4px;
  }
  .hero::-webkit-scrollbar-track{
    background-color: #0f0e0eb1;
    border-radius: 30px;
  }
  .hero::-webkit-scrollbar-thumb{
    background-color: rgb(67, 199, 248);
    border: 1px solid rgba(0, 0, 0, 0.141);
    border-radius: 13px;
  }
  .hero::-webkit-scrollbar-thumb:hover{
    background-color: rgb(39, 122, 152);
  }
  .scrollable-section{
    padding: 40px 0;
  }
  .second-hero,.third-hero{
    translate: 0 -30px;
  }
  .second-hero,.third-hero{
    max-height: 10%;
    margin: 0;
  }
}